.pokeContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.img-container img {
  height: auto;
  width: 200px;
  border: 1px solid gray;
}

.pokelist {
  margin: 3em;
  padding: 3em;
}

.item-name {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em 0;
}

.poke-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.randContainer {
  display: flex;
  flex-direction: column;
}

.random {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(194, 194, 194);
  margin: 0.3em;
}

.description {
  max-width: 250px;
  margin: 0 0 0 0.3em;
}

.description h2 {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.description p {
  font-size: 12px;
}

.available {
  text-transform: uppercase;
  font-weight: bold;
  color: blue;
  margin-bottom: 0.3em;
}

.quantityContainer {
  display: flex;
  justify-content: space-between;
}

.quantityContainer p {
  font-size: 13px;
  border: 1px solid rgb(226, 226, 226);
  padding: 0.2em 1em;
  font-weight: bold;
}

.lastContainer {
  border: 1px solid rgb(207, 207, 207);
  margin-top: 1.4em;
}

.lastContainer p {
  padding: 0.5em;
}

.newContainer {
  display: flex;
  justify-content: center;
}

.newArrival {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.newArrival img {
  width: 190px;
  height: auto;
}

.new {
  font-weight: bold;
}

.single-img img {
  max-width: 400px;
  max-height: 500px;
}

.LowerNav {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.lii {
  font-weight: bold;
}

.LowerNav h2 {
  font-weight: bold;
  padding: 0 1em;
}