.pokeContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.container-div {
  padding: 0.5em;
}

.img-container {
  background-color: gray;
  padding: 0.3em;
}

.container-div img {
  width: 100%;
  height: auto;
}

.item-name {
  font-size: 18px;
}